build/*
tool_build/*
libversat.a
versat
versatOutput/
examples/simple_example/simple_example
examples/simple_example/system.vcd
examples/py2hwsw_example/iob_versat/hardware/
examples/py2hwsw_example/iob_versat/software/
examples/iob_versat_V*/
TAGS
compile_flags.txt

software/compiler/*_meta.hpp
document/tsrc/shortHash.tex

# document/ build artifacts (see document/Makefile)
document/*.tex
document/*.cls
document/*.pdf
document/*.log
document/*.aux
document/*.toc
document/*.lof
document/*.lot
document/*.lol
document/*.out
document/figures/*.pdf
document/figures/*.svg
