[submodule "submodules/mem"]
	path = submodules/mem
	url = git@bitbucket.org:jjts/iob-mem.git
[submodule "submodules/interconnect"]
	path = submodules/interconnect
	url = git@github.com:IObundle/iob-interconnect.git
