[submodule "submodules/INTERCON"]
	path = submodules/INTERCON
	url = git@github.com:IObundle/iob-interconnect.git
[submodule "submodules/MEM"]
	path = submodules/MEM
	url = git@github.com:IObundle/iob-mem.git
[submodule "submodules/DMA"]
	path = submodules/DMA
	url = git@github.com:IObundle/iob-dma.git
[submodule "submodules/LIB"]
	path = submodules/LIB
	url = https://github.com/IObundle/iob-lib
[submodule "submodules/FPU"]
	path = submodules/FPU
	url = git@github.com:IObundle/iob-fpu.git
